body {
  background-color: rgb(33, 74, 136);
  background-image: url(img/bookshelf.jpg);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(54, 78, 114);
  border: 3px solid white;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #000000;
}

nav a {
  color: whitesmoke;
  font-size: 25px;
  margin: 15px;
}

.mainpage {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .mainpage div {
  margin: 30px 10px;
} */

/* Shelf Settings */

.shelf {
  text-align: center;
  margin: 40px 30px;
  background-color: antiquewhite;
  /* background-color: rgb(164, 145, 122); */
  width: 400px;
  height: 850px;
  overflow-y: auto;
}

#arcaneShelf p {
  padding: 10px 0px;
  margin: 3px;
  border: 1px solid grey;
}

#arcaneShelf p:hover {
  background-color: grey;
}

/* Shelf Filter */

.filter {
  background-color: rgb(237, 211, 179);
}

.settings {
  width: 100%;
  display: flex;
}

.planes {
  width: 100px;
}

.level {
  width: 200px;
}

.misc {
  width: 100px;
}

.apply {
  margin: 10px 0px;
  align-self: flex-end;
}

/* first attempt */

.card {
  width: 335px;
  height: 550px;
  margin-right: 90px;
  margin-left: 90px;
  border-radius: 15px;
}

.frontface,
.backface {
  text-align: center;
  width: 335px;
  height: 550px;
  background-color: beige;
  margin-right: 90px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #000000;
  backface-visibility: hidden;
  position: absolute;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip {
  transform: rotateY(180deg);
}

/* Card Contents */

.spellDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-betweencenter-start;
  margin: 0 10px;
  padding-bottom: 30px;
  /* border: 3px inset grey; */
}

.title {
  border-bottom: 2px solid grey;
  margin: 0px auto;
  width: 200px;
}

#spellName {
  margin-bottom: 0px;
}

#spellLevel {
  margin-top: 3px;
  margin-left: 33%;
}

#spellPlane {
  margin-top: 3px;
  margin-left: 5px;
}
#spellRitual {
  margin-top: 3px;
  margin-left: -26%;
}
#spellCost {
  margin: 0px 35%;
}
#spellCastTime {
  margin-left: 10%;
}
#spellRange {
  margin-left: 13%;
}
#spellType {
  margin-top: 5px;
  margin-left: 10%;
}
#spellComponents {
  margin-top: 5px;
  margin-left: 13%;
}
#spellDuration {
  margin: 0px 24%;
}
.description {
  height: 52%;
  margin: 0 10px;
  margin-top: -15px;
  padding: 0 5px;
  border: 3px outset grey;
  display: flex;
  align-items: center;
}
