body {
  background-color: rgb(33, 74, 136);
  background-image: url(img/bookshelf.jpg);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(54, 78, 114);
  border: 3px solid white;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #000000;
}

nav a {
  color: whitesmoke;
  font-size: 25px;
  margin: 15px;
}

.mainpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: greatVibes;
  src: url("/Fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: chopinScript;
  src: url("/Fonts/ChopinScript.ttf");
}

.notice {
  background-color: rgb(54, 78, 114);
  text-align: center;
  height: 590px;
  width: 500px;
  color: beige;
  margin: 200px auto;
  padding: 5px 15px;
  border-radius: 8%;
  font-size: 23px;
  font-family: greatVibes;
}

.notice p {
  margin: 10px;
}

.signature {
  font-family: chopinScript;
  font-size: 40px;
}

/* Shelf Settings */

.shelf {
  text-align: center;
  margin: 40px 30px;
  background-color: #523f30;
  /* background-color: rgb(164, 145, 122); */
  width: 400px;
  height: 850px;
  overflow-y: auto;
}

#arcaneShelf p {
  padding: 10px 0px;
  margin: 3px;
  border: 1px solid grey;
}

#arcaneShelf p:hover {
  background-color: grey;
}

.spell {
  color: rgb(255, 196, 0);
  text-shadow: 1px 1px 0px black;
  background-size: 390px 38px;
  /* font-weight: bold; */
  filter: brightness(70%);
}

.spell:hover {
  color: grey;
}

/* Shelf Filter */

.filter {
  background-color: rgb(237, 211, 179);
}

.settings {
  width: 100%;
  display: flex;
  justify-content: center;
}

.planes {
  width: 80px;
}

.level {
  width: 180px;
}

.misc {
  width: 100px;
}

.apply {
  margin: 10px 0px;
}

/* first attempt */

.card {
  width: 335px;
  height: 550px;
  margin-right: 90px;
  margin-left: 90px;
  border-radius: 15px;
}

.frontface,
.backface {
  text-align: center;
  width: 335px;
  height: 550px;
  background-color: beige;
  margin-right: 90px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #000000;
  backface-visibility: hidden;
  position: absolute;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip {
  transform: rotateY(180deg);
}

/* Card Contents */

.spellDetails {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  padding-bottom: 30px;
}

.title {
  border-bottom: 2px solid grey;
  margin: 0px auto;
  width: 200px;
}

#spellName {
  margin-bottom: 0px;
}

#spellLevel {
  margin-top: 3px;
  margin-left: 33%;
}

#spellPlane {
  margin-top: 3px;
  margin-left: 5px;
}
#spellMod {
  margin-top: 20px;
  margin-left: -26%;
}
#spellCost {
  margin: 0px 35%;
}
#spellCastTime {
  margin-left: 10%;
}
#spellRange {
  margin-left: 13%;
}
#spellType {
  margin-top: 5px;
  margin-left: 10%;
}
#spellComponents {
  margin-top: 5px;
  margin-left: 13%;
}
#spellDuration {
  margin: 0px 24%;
}

/* CSS Grid Layout experiment */

/* .spellDetails {
  display: grid;
  grid-template-columns: max-content;
  gap: 5px;
  margin: 0 10px;
  padding-bottom: 30px;
}

.spellDetails p {
  margin: 0;
  padding: 0;
}

.title {
  border-bottom: 2px solid grey;
  margin: 0px auto;
  width: 200px;
}

#spellName {
  margin-bottom: 0px;
}

#spellLevel {
  background-color: aliceblue;
  grid-row: 1;
  grid-column: 2;
}

#spellPlane {
  background-color: aliceblue;
  grid-row: 1;
  grid-column: 4;
}
#spellMod {
  background-color: aliceblue;
  grid-row: 2;
  grid-column: 1 / span 5;
}
#spellCost {
  background-color: aliceblue;
  grid-row: 3;
  grid-column: 2;
}
#spellCastTime {
  background-color: aliceblue;
  grid-row: 3;
  grid-column: 4;
}
#spellRange {
  background-color: aliceblue;
  grid-row: 4;
  grid-column: 3;
}
#spellType {
  background-color: aliceblue;
  grid-row: 5;
  grid-column: 2;
}
#spellComponents {
  background-color: aliceblue;
  grid-row: 5;
  grid-column: 5;
}
#spellDuration {
  background-color: aliceblue;
  grid-row: 6;
  grid-column: 3;
} */
.description {
  height: 52%;
  margin: 0 10px;
  margin-top: -15px;
  padding: 0 5px;
  border: 3px outset grey;
  display: flex;
  align-items: center;
  overflow-y: auto;
}

/* Mobile Styles */

@media (device-width <= 600px) {
  .mainpage {
    margin-top: 10px;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .shelf {
    height: 400px;
    width: 400px;
  }
}
